<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crazy Flask Chat App - Signed in as @{{ username }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <section x-data="{
      messages: {{ messages }},
      message: '',
      username: '{{ username }}',
      secret: '{{ secret }}',
      socket: null,
      randomId() {
        return Math.random().toString(36).substring(2, 15);
      },
      groupedMessages() {
        return this.messages.reduce((groups, msg, index) => {
          if (typeof msg !== 'object') return groups;
      
          const isImage = msg.text.match(/\.(png|svg|webp|jpg|gif|jpeg)$/i);
          const formattedMsg = {
            html: isImage
              ? `<img src='${msg.text}' class='chat-image'/>`
              : `<p>${msg.text}</p>`,
          };
      
          if (index === 0 || this.messages[index - 1].username !== msg.username) {
            groups.push({
              username: msg.username,
              contents: [formattedMsg],
              id: this.randomId()
            });
          } else {
            groups[groups.length - 1].contents.push(formattedMsg);
          }
      
          return groups;
        }, []);
      },
      sendMessage() {
        if (this.message.trim() !== '') {
          this.socket.emit('message', { secret: this.secret, text: this.message });
          this.message = '';
        }
      }
    }" x-init="
      socket = io();
      socket.on('message', msg => messages.push(msg));
      socket.on('connect_error', error => console.error('Socket.IO connection error:', error));
    ">
      
      <div id="chat-area">
        <template x-for="group in groupedMessages()" :key="group.id">
          <div class="message-container">
            <img class="avatar" :src="'https://api.dicebear.com/7.x/identicon/svg?seed=' + group.username" />
            <div class="contents">
              <p class="author">Sent by @<span x-text="group.username"></span></p>
              <div>
                <template x-for="msg in group.contents" :key="randomId()">
                  <div x-html="msg.html"></div>
                </template>                
              </div>
            </div>
          </div>
        </template>
      </div>
      
      <div id="send-message">
        <input 
          type="text" 
          id="message-input" 
          placeholder="Message @all" 
          x-model="message" 
          @keydown.enter.prevent="sendMessage()" 
        />
        <button id="send-button" @click="sendMessage()">⚡</button>
      </div>
    </section>
  </body>
</html>
