<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crazy Flask Chat App - Signed in as @{{ username }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  </head>

  <body>
    <section x-data="{
      messages: {{ messages }},
      message: '',
      username: '{{ username }}',
      secret: '{{ secret }}',
      socket: null,
      sendMessage() {
        if (this.message.trim() !== '') {
          this.socket.emit('message', { secret: this.secret, text: this.message });
          this.message = '';
        }
      }
    }" x-init="
      socket = io();
      socket.on('message', msg => messages.push(msg));
      socket.on('connect_error', error => console.error('Socket.IO connection error:', error));
    ">
      
      <div id="chat-area">
        <template x-for="msg in messages" :key="msg.text + msg.username">
          <div class="message-container">
            <img class="avatar" :src="'https://api.dicebear.com/7.x/identicon/svg?seed=' + msg.username" />
            <div class="contents">
              <p class="author">Sent by @<span x-text="msg.username"></span></p>
              <template x-if="msg.text.match(/\.(png|svg|webp|jpg|gif|jpeg)$/)">
                <img :src="msg.text" />
              </template>
              <template x-if="!msg.text.match(/\.(png|svg|webp|jpg|gif|jpeg)$/)">
                <p x-text="msg.text"></p>
              </template>
            </div>
          </div>
        </template>
      </div>
      
      <div id="send-message">
        <input 
          type="text" 
          id="message-input" 
          placeholder="Message @all" 
          x-model="message" 
          @keydown.enter.prevent="sendMessage()" 
        />
        <button id="send-button" @click="sendMessage()">⚡</button>
      </div>
    </section>
  </body>
</html>
